PORT=3002
JWT_SECRET=vhTony_24
JWT_EXPIRES_IN=120m
REFRESH_TOKEN_EXPIRES_IN=7d
DB_USER=
DB_PASSWORD=
DB_SERVER=(localdb)\MSSQLLocalDB
DB_NAME=SeatNow
DB_ENCRYPT=true
DB_TRUST_CERT=true

# optional: để gọi booking-service (nếu làm /me/bookings)
BOOKING_SERVICE_URL="http://booking-service:4004"
